@font-face {
  font-family: Poppins-Regular;
  src: url("./Assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("./Assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("./Assets/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("./Assets/fonts/poppins/Poppins-SemiBold.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.topnav {
  padding: 0 15px;
  z-index: 999;
  height: 60px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02),
    0 3px 6px rgba(117, 108, 254, 0.12);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  flex-flow: row nowrap;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #3336;
  background-color: #020f4e;
}
.topnavlink-wrapper {
  height: inherit;
  display: flex;
  align-items: center;
  max-width: 200px;
  width: 100%;
}
.topnavlink-wrapper:hover {
  background-color: #3498db;
}
.topnavlink {
  text-decoration: none;
  padding: 0 10px;
  width: 100%;
  text-align: center;
}
.topnavlink-wrapper.active {
  background-color: #0874e8;
}
a.topnavlink {
  color: white
}

.main-container {
  margin-top: 60px;
  box-sizing: border-box;
}

.inner-container {
  width: 100%;
  min-height: calc(100vh - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #fafafd, #c2defd);
  background: -o-linear-gradient(45deg, #fafafd, #c2defd);
  background: -moz-linear-gradient(45deg, #fafafd, #c2defd);
  background: linear-gradient(45deg, #fafafd, #c2defd);
  box-sizing: border-box;
}

.register-box {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px 55px;
}

.register-form {
  width: 100%;
}

.register-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

.form-input-box {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 27px;
}

.form-input-label {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
  padding-left: 5px;
}

.form-input {
  height: 40px;
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding: 0 5px;
}

input,
select,
textarea {
  outline: none;
  border: none;
}

textarea.form-input {
  height: 100px;
}

.form-btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.form-btn-wrapper button {
  width: 80%;
  min-width: 200px;
  border-radius: 30px;
  height: 39px;
  background: #c2defd;
  border-width: 0;
  font-family: Poppins-SemiBold;
  font-size: 20px;
  color: #333333;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #7f7f7f;
}

.error {
  background-color: #f003;
  width: 100%;
  border-radius: 5px;
  color: #f00;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.centerify {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.success-container {
  position: fixed;
  width: 100%;
  background-color: #57c79a;
  z-index: 9999;
  text-align: center;
}

.success-msg {
  color: #ffffff;
  padding: 20px;
}

.close-mark {
  float: right;
  padding: 20px;
  color: #f9f9f9;
  cursor: pointer;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.loader.small {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  width: 13px;
  height: 13px;
}

.rsvp-table {
  /* background: #ffffff; */
  height: fit-content;
  width: 100%;
  /* padding: 12px 10px 17px 10px; */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.rsvp-table .caption {
  font-size: 1.5em;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f8f8f8;
}

.rsvp-table .caption input,
.rsvp-table .caption span {
  margin: 10px 20px;
}

.searchbox {
  border: 1px solid #ddd;
  width: 250px;
  border-radius: 4px;
  height: 35px;
  padding: 0 0 0 10px;
}

table {
  table-layout: auto;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: left;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.dashboard .inner-container .container {
  max-width: 1200px;
  width: 100%;
  margin: "auto";
}

.dashboard .statbox-bar {
  display: flex;
  flex-wrap: wrap;
}

.dashboard .chart-row {
  display: flex;
  flex-wrap: wrap-reverse;
}

.dashboard .chartbox {
  font-weight: 400;
  box-sizing: border-box;
  width: 50%;
  font-family: Poppins-Medium;
}

.dashboard .statbox {
  font-weight: 400;
  box-sizing: border-box;
  width: 25%;
  font-family: Poppins-Bold;
}

.dashboard .statbox .card {
  margin: 3%;
  color: #fff;
}

.dashboard .chartbox .card {
  margin: 1.5%;
  font-weight: 200;
  font-size: 12px;

  box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02),
    0 3px 6px rgba(117, 108, 254, 0.12);
  border: none;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: 0.25rem;
}

.cardheader {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.84);
}

.card .chartholder {
  padding: 10px 0;
}

.dashboard .card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  padding-left: 10%;
}

.dashboard .card .count {
  font-size: 20px;
}
.dashboard .card .label {
  font-size: 15px;
}
.dashboard table td {
  text-align: left;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin-right: 10px;
}

@media screen and (max-width: 850px) {
  .dashboard .statbox {
    width: 50%;
  }
}

@media screen and (max-width: 850px) {
  .chartbox table th,
  table td {
    padding: 0.625em 3%;
  }

  .dashboard .chartbox {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .rsvplist table {
    border: 0;
  }

  .rsvplist table caption {
    font-size: 1.3em;
    background-color: #f8f8f8;
  }

  .rsvplist table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .rsvplist table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .rsvplist table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .rsvplist table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .rsvplist table td:last-child {
    border-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .topnav {
    justify-content: space-evenly;
    align-items: center;
  }
  .topnavlink {
    padding: 10px 0;
    margin: 2px;
  }
  .register-box {
    padding: 20px 10px;
  }

  .dashboard .statbox {
    width: 100%;
  }
  .dashboard .statbox .card-body {
  }
}
